.location {
    display: flex;
    flex-direction: column;

    &__form {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}