main{
    width: 100%;
}

.row-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.left-aligned{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.icon{
    font-size: 2rem;
}

.weather{
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding: 5px;

    &__temperature{
        font-size: 3rem;
        font-weight: bold;
    }

    &__condition{
        font-size: 1.5rem;
    }
}

.forecast{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
